@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: grey;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 10% auto;
    
    gap: 15px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: black;
    transition: all 0.6s linear;
    display: flex;
    margin: auto;
    box-shadow: rgba(212, 223, 9, 0.5) 0px 8px 24px;
}

button{
    font-weight: 500;
    font-size: 25px;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 20px;
    color: grey;
}
button:hover{
    color: white;
    border-color: white;
    background-color: transparent;
}
.onmouseevent{
    
    border-radius:50%;
   
}
.onmouseevent2{
    background-image: linear-gradient(to bottom right, red, yellow);
    translate: -11rem 0;  
}
.onmouseevent3{
    background-image: yellow;
    translate: 11rem 0;
}
.onmouseevent4{
    background-color: yellow;
    translate: 0rem 0;
}
input{
    all: unset;
}
p,input{
    border-left: 3px solid black;
    padding: 20px;
    background-color: lightgray;
    font-size: 25px;
}